{
  "presets": [
    // vue中使用的jsx
    // "@vue/babel-preset-jsx",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": "last 2 versions, > 0.5%, ie >= 11"
        }
      }
    ],
    "@babel/preset-typescript",
    [
      "@babel/preset-react"
      , {
        // "pragma": "window.__ECIS_REACT.createElement",
        "pragma": "(function(){for(var a=arguments.length,args=new Array(a),_key=0;_key<a;_key++){args[_key]=arguments[_key]}var b=args[0],attributes=args[1],mores=args.slice(2);return window.__ECIS_REACT.createElement(b,!(attributes&&attributes.dangerouslySetInnerHTML)?(Object.assign(attributes||{},{sdk:window.__ECIS_PLUGHUB.sdk})):attributes,(mores&&mores.length)?mores:undefined)})",
        "pragmaFrag": "window.__ECIS_REACT.Fragment"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
  ]
}
